# Gradle / Build
.gradle/
**/build/
!gradle/wrapper/gradle-wrapper.jar

# Android Studio / IntelliJ
.idea/
*.iml
.vscode/

# Local config & signing
local.properties
*.jks
*.keystore
*.keystore.properties

# NDK / External build
.externalNativeBuild/
.cxx/

# Artifacts
*.apk
*.aab

# OS files
.DS_Store
Thumbs.db

# Local JDK cache used for CLI builds
.jdk/
